In [1]:
1

1

In [2]:
print(1)

1

In [3]:
type(1)

int

In [4]:
print("Hi {}".format("rakesh"))

Hi rakesh

In [5]:
print("Hi {fistname}".format(fistname="rakesh"))

Hi rakesh

In [6]:
print("Hi")

2

In [7]:
type([])

list

In [8]:
my_example_list=[]
type(my_example_list)

list

In [9]:
my_example_list=['Maths','Chemistory',90,33,90.2,True]
my_example_list
len(my_example_list)

6

In [10]:
my_example_list

['Maths', 'Chemistory', 90, 33, 90.2, True]

In [11]:
my_example_list.append('rakesh')
my_example_list

['Maths', 'Chemistory', 90, 33, 90.2, True, 'rakesh']

In [12]:
my_example_list[0]

'Maths'

In [13]:
my_example_list.insert(1,'Python')
my_example_list

['Maths', 'Python', 'Chemistory', 90, 33, 90.2, True, 'rakesh']

In [15]:
my_example_list[:]

['Maths', 'Python', 'Chemistory', 90, 33, 90.2, True, 'rakesh']

In [17]:
my_example_list[0:1]

['Maths']

In [16]:
my_example_list[1:1]

[]

In [18]:
my_example_list.append(['Rama','Resu','Manju'])
my_example_list

['Maths',
 'Python',
 'Chemistory',
 90,
 33,
 90.2,
 True,
 'rakesh',
 ['Rama', 'Resu', 'Manju']]

In [19]:
my_example_list=[1:2]
my_example_list

SyntaxError: invalid syntax (<ipython-input-19-20804625891a>, line 1)

In [20]:
my_example_list=[1,2,3,4,5,6]
my_example_list

[1, 2, 3, 4, 5, 6]

In [21]:
my_example_list.extend([7,8])
my_example_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
my_example_list.pop()

8

In [23]:
my_example_list.pop(0)

1

In [24]:
sum(my_example_list)

27

In [25]:
my_example_list.extend([2])

my_example_list

[2, 3, 4, 5, 6, 7, 2]

In [26]:
my_example_list.count()

TypeError: count() takes exactly one argument (0 given)

In [27]:
my_example_list.coun(2)

AttributeError: 'list' object has no attribute 'coun'

In [28]:
my_example_list.count(2)

2

In [29]:
min(my_example_list)

2

In [30]:
my_example_list*2

[2, 3, 4, 5, 6, 7, 2, 2, 3, 4, 5, 6, 7, 2]

In [31]:
set_var={}
print(set_var)

{}

In [32]:
type(set_var)

dict

In [33]:
set_var=set()
type(set_var)

set

In [34]:
set_var ={ 1,2,3,4,5}
print(set_var)

{1, 2, 3, 4, 5}

In [35]:


set_var.append(1)

AttributeError: 'set' object has no attribute 'append'

In [37]:
set_var.add(1)
print(set_var)

{1, 2, 3, 4, 5}

In [40]:
set1 = {"rakesh","Kalluri","Kumar"}
set2 ={"Manju","Kalluri","Kumari"}
set2.difference(set1)

{'Kumari', 'Manju'}

In [41]:
set2

{'Kalluri', 'Kumari', 'Manju'}

In [43]:
set2.difference_update(set1)
set2

{'Kumari', 'Manju'}

In [44]:
set1 = {"rakesh","Kalluri","Kumar"}
set2 ={"Manju","Kalluri","Kumari"}

set2.intersection(set1)

{'Kalluri'}